<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>💜Choocheon💜</title>
    <link rel="stylesheet" type="text/css" href="../static/css/rset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <div id = "content"> 
        <div id = "headerBox">
            <!-- header -->
            
        </div>
        <div>
            <div id = "logo">
                <!-- 로고 -->
                <a href="../main.html">
                    <img src="../static/images/logo.png" alt="choochen logo image">
                </a>
            </div>
            <div id = "inputBox">
                <!-- 검색어 입력창 -->
            </div>
            <div id="want2Visit">
                <!-- 웹툰, 웹소설, 넷플릭스 -->
            </div>
        </div>
    </div>
</body>
</html>