<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ain't Dozy</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/rset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body class="login-body">
    <div class="app">
        <div class="main">
            <div class="content login-form-container">
                <div class"login-form block-section">
                {% csrf_token %}
                <form>
                    <div>
                        <div class="logo"></div>
                        <h1 class="login-form-heading"></h1>
                        <div class="form-fields">
                            <div class="form-group">
                                <input required type="email">
                                <input required type="password"> 
                            </div>
                        </div>
                        <div class="form-buttons">
                            <button type="submit" class="">Log in</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>