<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ain't Dozy</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/rset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container header-container">
        <div class="container-inner">
            <nav class="header">
                <a class="logo">
                    <img src="{% static 'images/aint-dozy-logo.png'%}">
                </a>
                <a class="button light header-login">Login</a>
                <a class="button header-signup">Sign up</a>
            </nav>
        </div>
    </div>

    <div class="page-home">
        <div class="container section home-hero">
            <div class="container-inner">
                <div class="home-hero__header">
                    <h1 class="home-hero__headline">We Ain't Dozy</h1>
                    <h2 class="home-hero__subtitle">
                        Some people wake up drowsy.<br>
                        Some people wake up energized.<br>
                        I wake up dead. 
                    </h2>
                </div>
            </div>
        </div>
    </div>
</body>
</html>