<!DOCTYPE html>
<html lang="en">
  <head>
  {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PoseNet Example</title>
    <!-- p5 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.min.js"></script>
    <!-- ml5 -->
    <script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>
  </head>
  <body>
    <h1>PoseNet Example</h1>
    <canvas id="canvas" width="640" height="480"></canvas> 
    <video id="video" width="640" height="480" autoplay style="display: none"></video>

  <script type="text/javascript" src="{% static 'js/test_poseNet.js' %}"></script>
  </body>
</html>