<!DOCTYPE html>
<html lang="en">
  <head>
  {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>WORK OUT - UPT</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/rset.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- p5 -->
    <script src="https://cdn.jsdelivr.net/npm/p5@1.2.0/lib/p5.js"></script>
    <!-- ml5 -->
    <script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>
  </head>
  <body>
    <header>
      <!-- 헤더 -->
      <nav class="navbar">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">
              UPT<span>　Your Personal Training</span>
            </a>
          </div>
          <div class="navbar-collapse">
            <ul class="navbar-right">
              <li>
                <a class="nav-link" href="https://github.com/kyungji12//portfolio_archive/tree/main/UPT_dev">
                  <img
                    class="icon"
                    src="{% static 'images/github-logo.png' %}"
                    alt="UPT git hub"
                  />
                </a>
              </li>
              {% comment %} <li>
                <a
                  class="nav-link"
                  href="https://meet.google.com/der-egzs-cns?hma=1&hmv=1"
                >
                  <img
                    class="icon"
                    src="../static/images/meet-icon.png"
                    alt="UPT google meet"
                  />
                </a>
              </li> {% endcomment %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <!-- 메인 -->
      <div class="container">
          <section class="desc-section">
              <div class="row">
                <div class="col-md-4 text-left col-z-index">
                    <div class="ready-section" id ="readySection">
                        <h1 class="title">자세를 <br>맞춰주세요.</h1>
                    </div>
                    <div class="workout-section" id ="workoutSection">
                        <h1 class="title">OK!</h1>
                    </div>
                    <div class="stop-section" id = "stopSection">
                        <h1 class="title">STOP!</h1>
                        <ul class="desc">
                            <li>자세를 풀어주세요!</li>
                            <li>
                                <!--<a href="{% url 'result' %}" id="stopBtn" class="move-btn" onclick="">분석하기</a>-->
                                {% comment %} {% csrf_token %} {% endcomment %}
                                <button type="button"class="move-btn"id="stopBtn">분석하기</button>
                                <!--onclick = "location.href='{% url 'result' %}'"-->
                            </li>
                        </ul>
                    </div>                    
                </div>
                <div class="col-md-8">
                   <!-- <img src="{% static 'images/img_desc_1.png' %}" alt="사용법 설명 이미지"> -->
                   <div id = "videoCanvas">
                      <canvas id="canvas" width="640" height="400"></canvas> 
                      <video id="video" width="640" height="400" autoplay style="display: none"></video>
                   </div>
                </div>
             </div>
            </section>
        </div>
      </div>
      <!-- 메인 끝 -->
    </main>
    <footer>
      <!-- 푸터 -->
      <div class="container">
        <div class="pull-right">
          <div class="copyright">
            © 2021 
            <span>KJ Yoon</span> with my cats(Ruby, Kkamang)
          </div>
        </div>
      </div>
    </footer>
            <script>
             // using jQuery
              function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                  var cookies = document.cookie.split(';');
                  for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                    }
                  }
                }
                return cookieValue;
              }
              function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
              }
              $(document).ready(function() {
                var csrftoken = getCookie('csrftoken');
                $.ajaxSetup({
                  beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                      xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                  }
                });
              });
        </script>
    <script type="text/javascript" src="{% static 'js/ml5_video.js' %}"></script>
  </body>
</html>