<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>학생정보</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/rset.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sytle.css'%}">
</head>
<body>
    <h1>DETAIL PAGE</h1>
    <table>
        <th>{{class_obj.pk}}반 학생 정보</th>
        <tr>
            {% comment %} <td>번호</td> {% endcomment %}
            <td>이름</td>
            <td>연락처</td>
            <td></td>
        </tr>
        {% for student in student_obj %}
        <tr>
            {% comment %} <td>번호</td> {% endcomment %}
            <td>{{student.name}}</td>
            <td>{{student.phone_num}}</td>
            <td><a href="{% url 'edit' student.pk %}">⭐️수정</a></td>
        </tr>   
        {% endfor %}   

        <a href="{% url 'add' class_obj.pk %}">학생 추가하기 ►</a>
        <a href="{% url 'main' %}">메인 화면으로 이동</a>
    </table>
</body>
</html>