/* main.html */
.contentWrap {
    border : 1px solid red;
}

.headerBox {
    border : 1px solid blue;
    height: 45px;
    padding: 5px;
}

.mainBox{
    border: 1px solid orange;
    text-align: center;
}

.logoBox {
    /* border : 1px solid blueviolet; */
    margin: 60px 0 20px 0;
    height: 200px;
}

.inputBox {
    /* border : 1px solid green; */
    position: relative;
    height : 45px;
    /* margin: 10px 0 38px 0; */
}

.inputBox input {
    border-radius: 20px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    border: none;
    font-size: 16px;
    height: 100%;
    outline: none;
    padding-inline-end: 40px;
    padding-inline-start: 52px;
    position: relative;
    width: 40%;
}

.inputBox img {
    width: 24px;
    position: absolute;
    left: 32%;
    top: 25%;
}

/* result.html */
.headerLogo{
   position: relative;
}
.headerLogo a {
    position: absolute;
}
.headerLogo a img {
    height: 55px;
}
.resultBox {
    border: 1px solid plum;
    margin: 20px;
}
.resultData {
    border: 3px solid skyblue;
}
.resultData p {
    font-size: 40px;
    font-weight: bold;
}
.platform {
    /* margin : 0 10px; */
    display: flex;
    flex-wrap: wrap;
}
/* .platform.naverWT {
    background-color: slateblue;
}
.platform.naverNV {
    background-color: slategray;
}
.platform.daumWT {
    background-color: steelblue;
}
.platform.Netflix {
    background-color: thistle;
} */
.platform .contentBox {
    padding: 8px;
    box-sizing: border-box;
    display: inline-box;
    line-height: 20px;
    overflow: visible;
    position: relative;
}
@media (min-width: 700px) {
    .platform .contentBox {
        width: 50%;
    }
}
@media (min-width: 1200px) {
    .platform .contentBox {
    width: 33.33333%;
    }
}
.thumbnailBox {
    position: relative;
    height: 110px;
    display: flex;
    padding: 8px 0;
    background-color: #f1ebeb;
}
.thumbnailBox img {
    width: 160px;
    height: 100%;
    margin-right : 10px;
}
.thumbnailBox ul {

}
.thumbnailBox ul li {
    
}
.intro {
    padding: 0 8px 8px;
    background-color: #dcdada;
}
