/* main.html */
.contentWrap {
    /* border : 1px solid red; */
}

.headerBox {
    /* border : 1px solid blue; */
    height: 45px;
    padding: 5px;
}

.mainBox{
    text-align: center;
}

.logoBox {
    margin: 60px 0 20px 0;
    height: 200px;
}

.inputBox {
    position: relative;
    height : 45px;
    /* margin: 10px 0 38px 0; */
}

.inputBox input {
    border-radius: 20px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    border: none;
    font-size: 16px;
    height: 100%;
    outline: none;
    padding-inline-end: 40px;
    padding-inline-start: 52px;
    position: relative;
    width: 40%;
}

.inputBox img {
    width: 24px;
    position: absolute;
    left: 32%;
    top: 25%;
}
.mainBox .noInput {
    padding-top: 15px;
    color: #f55271;
    font-size: 12px;
}

/* result.html */
.headerLogo{
   position: relative;
}
.headerLogo a {
    position: absolute;
}
.headerLogo a img {
    height: 55px;
}
.resultBox {
    margin: 20px auto;
}
.resultData {
    padding: 25px 20px;
    position: relative;
}
.resultData p {
    font-size: 20px;
    font-weight: bold;
    padding-left: 8px;
    margin: 20px 0 15px 0;
}
.resultData p > span {
    color : #4e63a1;
}
.resultData .arrow-box {
    padding: 5px;
    border: 1px solid darkgray;
    border-radius: 5px;
    display: block;
    text-align: center;
    width: fit-content;
    margin: 35px auto;
    color: #585858;
}
.resultData .arrow-box img {
    width : 10px;
    margin: 2px;
    padding-right: 3px;
}
.resultData .platform-name {
    font-size: 20px;
    font-weight: bold;
}
.resultData .platform-name.naverWT {
    color: #3EAF0E;
}
.resultData .platform-name.naverNV {
    color: #3EAF0E;
}
.resultData .platform-name.daumWT {
    color: #e83d3d;
}
.resultData .platform-name.Netflix {
    color: #f71b0b;
}
.platform {
    /* margin : 0 10px; */
    display: flex;
    flex-wrap: wrap;
}
.platform .contentBox {
    background: #f9f9f9;
    padding: 8px;
    margin: 10px auto;
    border-radius: 6px;
    box-sizing: border-box;
    line-height: 20px;
    overflow: visible;
    position: relative;
    box-shadow: 6px 7px 10px 3px rgb(32 33 36 / 24%);
}
@media (min-width: 700px) {
    .platform .contentBox {
        width: 48%;
    }
}
@media (min-width: 1200px) {
    .platform .contentBox {
    width: 32.33333%;
    }
}
.thumbnailBox {
    position: relative;
    height: 110px;
    display: flex;
    padding: 8px 0;
    /* background-color: #f1ebeb; */
}
.thumbnailBox img {
    width: 160px;
    height: 100%;
    margin-right : 10px;
}
.thumbnailBox ul {
    margin-top: auto;
    margin-bottom: auto;
}
.thumbnailBox ul li {
    
}
.thumbnailBox ul .title {
    font-size: 20px;
    font-weight: 500;
    color: #595884;
}
.thumbnailBox ul .genre {
    font-size: 13px;
    color: #989898;
    padding-top: 3px;
}
.thumbnailBox ul .want2visit {
    font-size: 13px;
    padding-top: 15px;
    color: #656475;
}
.intro {
    padding: 8px 8px;
    background-color: #f3f0f0;
    height: 85px;
    overflow: scroll;
    font-weight: 300;
    border-radius: 3px;
    color: #484848;
}